.WaterMark {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .Content {
        display: block;
        border: 5px solid @PrimaryMid;
        border-radius: 850px;
        padding: 80px 10px 80px 10px;
        width: 200px;
        font-size: 20px;
        opacity: 0.5;
        text-align: center;
    }
}