.Schedule {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    > .Content {
        position: absolute;
        // height: 100%;
        width: 100%;
        top: 0;
        bottom: 50px;
        left: 0;
        overflow: hidden;
        // margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

        .TopHolder {
            position: absolute;
            height: 46%;
            width: 95%;
            // top: 0;
            // bottom: 0;
            // left: 0;
            overflow: hidden;
        }

        .BottomHolder {
            position: absolute;
            height: 53%;
            width: 95%;
            // top: 0;
            // bottom: 0;
            // left: 0;
            overflow: hidden;
            bottom: 0;
        }
    }

    > .BottomBar {
        position: absolute;
        height: 50px;
        width: 100%;
        // top: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        // margin-top: 10px;
        // margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
}