.ActionButton {
    border: 1px solid @PrimaryMid;
    border-radius: 5px;
    width: 16px; /*can be in percentage also.*/
    height: 16px;
    margin: 0 auto;
    padding: 1px;
    position: relative;
    text-align: center;
    // background: @PrimaryMid;
    //padding: 5px 1px 5px 6px;

    color: @PrimaryMid;
    > .Icon {
        vertical-align: middle;
    }
}

.ActionButton:hover {
    background: @PrimaryMid;
    color: white;
    cursor: pointer;
}

.ActionButton:disabled,
.ActionButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none
}

//Tooltip
.tooltip .tooltiptext {
    transition: 0s background-color;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -10px;
    right: 125%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: 1s;
    transition-delay: .5s;
}