//Variables

//Styles
.Footer {
    position: absolute;
    height: 40px;
    width: 100%;
    padding: 10px;
    bottom: 0;
    overflow: hidden;
    
    display: flex;
    justify-content: flex-end;

    > .MessageBox {

        > .fa-info-circle {
            margin-left: 3px;
            margin-right: 15px;
        }
        margin-left: 3px;
        margin-right: 15px;
        margin-top: 3px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        flex-grow: 1;        
    }

    > .Item{
        margin-left: 3px;
        margin-right: 15px;
        margin-top: 3px;
        margin-bottom: 10px;
    }
}