.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    // width: 350px;
    margin: 4px;
    padding:1px 5px 1px 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    border-bottom: 2px solid;
    border-bottom-color: @BlankElementAccent;
    background-color: @Background;
}

.SearchBar.Focused {
    border-bottom-color: @DefaultElementAccent;
}

.SearchBar.Modified {
    border-bottom-color: @ModifiedElementAccent;
}

.SearchBar.Readonly {
    border-bottom-color: @ReadonlyElementAccent;
}

.SearchBar.Error {
    border-bottom-color: @ErrorElementAccent;
}

.SearchBar > .Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 5px);
    height: 30px;
}

.SearchBar > .Action {
    display: none;
    margin-top: 1px;
    width: 5px;
    color: @ComponentBoarderColor;
}

.SearchBar > .Action.Enabled {
    display: block;
}

.SearchBar > .Action:focus,
.SearchBar > .Action:hover {
    color: red;
    // width: 5px;
    // color: #000000;
    // border: 1px solid red;
    // border-radius: 100px;
    // background-color: red;
    // width: 10px;
    // padding: 2px 3px 2px 3px;

}

.SearchBar > .Content > .Hint {
    display: none;
    color: @ComponentBoarderColor;
    font-size: 10px;
    text-indent:3px;
    padding: 0;
    margin: 0;
}

.SearchBar > .Content > .Hint.Has-And-Text {
    display: block;
    -webkit-animation: slide 0.5s forwards;
}

.SearchBar > .Content > .Input {
    background: #FFF no-repeat 0px 0px;
    background-attachment: fixed;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-indent: 3px;
    padding: 0px;
    margin: 0;
    border: none;
}

.SearchBar > .Content > .Input:focus {
    outline: none;
}