.NavView {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .Left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: @NormalNavBarWidth;
        background-color: @PrimaryMid;
    }
    
    .Right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: @NormalNavBarWidth;
        background-color: @Background;
    }
}