//Variables

//Styles
.CalendarElement {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: white;
    border: 2px solid blue;
    margin: -2px;
    

    > .CalendarItemText {
        position: absolute;
        height: 100%;
        width: 80%;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        font-size: 10px;
        
        
    }

    > .RemoveButtonDiv{
        float: right;
        padding: 5px;

        > .status-text {
            font-size: 10px;    
        }
    
    }

    > .Content {
        box-sizing: border-box; /* add this */
        -moz-box-sizing: border-box; /* Firefox */
        -webkit-box-sizing: border-box; /* Older Webkit browsers */
        position: absolute;
        top: @TabMenuHeight;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        background-color: @Background;
        border: solid;
        border-width: @DefaultAccentBorderWidth;
        border-color: @DefaultBorderColor;

    }

}

