@HardAccent: #470904;
@Accent: #007830;
@Outline: #DCDCD9;
// @Background: #DBC591;
@DefaultSelected: #ffffff;
@BackSpace: #BCBCBC;
@StandardPop: #6A7350;
@DeepPop: #2A2B28;
@LeftBar2: #011220;
@DefaultAccent: #011220;
@TopBar: #bdc3c7;
@TopAccent: #67809F;

@DefaultGrey: #DADFE1;

@Modified: #e67e22;

@DefaultHover: #b4c5cf;

@DefaultComponentColor: #59ABE3;
@ComponentColor2: #ECF0F1;

@ComponentBoarderColor: #ABB7B7;

@DefaultError: #c0392b;
@LeftSide: #F6F6F6;

@BlankElementAccent: #B4C5CF;
@DefaultElementAccent: #0095DF;
@ModifiedElementAccent: #F27935;
@ReadonlyElementAccent: #8E44AD;
@ErrorElementAccent: #C0392B;

@ThinComponentBoarder: 1px;

@ThickAccentBorderWidth: 5px;
@DefaultAccentBorderWidth: 4px;

@DefaultFontSize: 12px;
@AccentFontSize: 10px;

@ResizeThreshold: 1024px;
@SmallNavBarWidth: 80px;
@NormalNavBarWidth: 420px;

//Palette

@LeftBar: #34495e;
@Background: #FFFFFF;

// @PrimaryMid: #34495e;
// @PrimaryLight: #011220;
@PrimaryMid: #0747A6;
@PrimaryLight: #0052CC;
@PrimaryDark: #303F9F;

@PrimaryLightFontColor: #000000;
@PrimaryMidFontColor:  #FFFFFF;
@PrimaryDarkFontColor: #FFFFFF;
//TODO Accents

@DefaultRadius: 10px;
@DefaultBorderThickness: 1px;
@DefaultBorderColor: @PrimaryMid;



body {
    font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: small;
}
