.CourseListItem {
    display: flex;
    justify-content: space-around;
    // width: 100%;
    margin: 4px;
    padding: 7px;
    // border: 2px solid;
    background: @Background;

    > .Content {
        display: flex;
        position: relative;
        justify-content: space-around;
        // top: 4px;
        // left: 0;
        width: 100%;
        margin-right: 10px;

        > .CodeGroup {
            display: inline-block;
            width: 40px;
            text-align: center;
            
            > .Code {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            > .CodeCaption {
                font-size: 10px;
                margin-top: 5px;
            }
        }

        > .NameGroup {
            display: inline-block;
            width: 130px;
            text-align: center;
            
            > .Name {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

             > .NameCaption {
                font-size: 10px;
                margin-top: 5px;
            }
        }

        > .ProgramGroup {
            display: inline-block;
            width: 130px;
            text-align: center;
            
            > .Program {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

             > .ProgramCaption {
                font-size: 10px;
                margin-top: 5px;
            }
        }
    }

    > .Actions {
        display: inline-block;
        position: relative;
        // top: -4px;
        // right: 0;
        // width: 20%;
    }
}