.SectionListItem {
    display: block;
    // width: 100%;
    margin: 4px;
    padding: 13px;
    border: 2px solid;

    > .Content {
        display: inline-block;
        // position: absolute;
        vertical-align: middle;
        height: 100%;
        width: 100%;

        > .NameGroup {
            display: inline-block;
            width: 22%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            
            >.Name {
                display: block;
            }
        }

        > .LocationGroup {
            width: 22%;
            height: 100%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

        > .InstructorGroup {
            width: 22%;
            height: 100%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

        > .ButtonDiv{
            width: 34%;
            height: 100%;
            display: inline-flex;
            justify-content: flex-end;


            > .PreviewButton {
                margin-right: 10px;

            }

            > .AddButton {
                margin-right: 10px;
                
                
            }

            > .RemoveButton {
                margin-right: 10px;
                
            }
        }
    }

    > .Actions {
        display: inline-block;
        // position: absolute;
        top: 12px;
        right: 0;
        width: 20%;
    }
}