.WeekCalendar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .Table {
        // display: block;
        width: 100%;
        border-spacing: 0;
        table-layout: fixed;
        border-collapse: separate;
        // height: 200px;
        // overflow-y: scroll;

        .Header {
            .Row {
                padding: 8px;
                .Element {
                    background: @PrimaryLight;
                    color: #d1d5db;
                    // border: 1px solid #dddddd;
                    // text-align: left;
                    padding: 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        .Body {
            display: block;
            overflow-y: auto;
            .Row {
                // display: block;
                // width: 100%;

                // display: 
                // padding: 8px;
                // table-layout: fixed;
                display: table;
                width: 100%;
                height: 5%;
                table-layout: fixed;

                .TimeElement {
                    // display: block;
                    // width: 10%;

                    background: #FFFFFF;
                    // color: #d1d5db;
                    padding: 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .Element {
                    // display: block;
                    // width: 18%;
                    border: 1px solid;
                    height : 100%;

                    background: #FFFFFF;
                    // color: #d1d5db;
                    // padding: 8px;
                    text-overflow: ellipsis;
                    overflow-y: visible;

                    .helper {
                        position: relative;
                        overflow: visible;
                        width: 100%;
                        min-height: 100%;
                        
                        .CalendarElement {
                            position: absolute;
                            width: 100%;
                            height: auto;
                            overflow: visible;
                        }
                    }

                    
                }
            }
        }

        // .Row {
        //     border: 1px solid #dddddd;
        //     text-align: left;
        //     padding: 8px;
        // }

        // .Element {
        //     border: 1px solid #dddddd;
        //     text-align: left;
        //     padding: 8px;
        // }
    }

    table {
        height: 100%;        
    }

}