//Variables
//Colors
@TabDefaultBackground:white;

//Positioning
@TabMenuHeight: 27px;
@TabHeadingFontSize: 8px;
//Styles
.TabLayout {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    > .TabMenu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: @TabMenuHeight;
        width: 100%;
        overflow: hidden;
        background-color: inherit;
        //Center the Tabs
        display: flex;
        justify-content: center;

        > .TabMainDiv {
            background-color: @TabDefaultBackground;
            float: left;
            cursor: pointer;
            outline: none;
            padding: 3px;
            transition: 0.3s;
            //Handle Border
            border-top-right-radius: @DefaultRadius; 
            border-top-left-radius: @DefaultRadius;
            border: solid;
            border-top-width: @DefaultBorderThickness;
            border-left-width: @DefaultBorderThickness;
            border-right-width: @DefaultBorderThickness;
            border-bottom-width: 0px;
            border-color: @DefaultBorderColor;
            margin-left: -(@DefaultBorderThickness + 1px);

            width:50px;

            //Font Settings
            font-size: @TabHeadingFontSize;
            text-align: center;

            > .TabTextDiv{
                width: 80%;
                left: 5px;
                height: 100%;
                background-color: inherit;
                color:inherit;
                overflow: hidden;
                display: inline-block;

                > .DepartmentDiv {
                    height: 50%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    top:5px;
                    display: block;
                }
        
                > .CourseCodeDiv {
                    height: 50%;
                    bottom: 5px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                }    
            }
            > .TabCloseButton{
                width: 20%;
                height: 100%;
                vertical-align: middle;
                right: 2px;
                margin-bottom: 10px; 
                font-size: larger;
                height: 10px;
                width: 10px;
                display: inline-block;
            }
            > .TabCloseButton:hover{
                color: red;
                // color: gray;
                // height: 10px;
                // width: 10px;
                // background-color: #E95757;
                // border-radius: 200px;
                cursor: pointer;
                
            }
        }

        > .TabMainDiv.active {
            background-color: @PrimaryMid;
            color: @PrimaryMidFontColor;
            width:100px;
        }
        > .TabMainDiv.active:hover {
            cursor: initial;
        }
        
        > .TabMainDiv.inactive:hover {
            background-color: #ddd;
            border-color: @PrimaryDark;
        }
    }

    > .Content {
        box-sizing: border-box; /* add this */
        -moz-box-sizing: border-box; /* Firefox */
        -webkit-box-sizing: border-box; /* Older Webkit browsers */
        position: absolute;
        top: @TabMenuHeight;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        background-color: @Background;
        border: solid;
        border-width: @DefaultAccentBorderWidth;
        border-color: @DefaultBorderColor;

        display: none;
    }
    
    > .Content.active {
        display: block;
    }
}