.TextActionButton {
    border: 1px solid @PrimaryMid;
    border-radius: 5px;

    width: 75px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 5px;
    position: relative;

    // background: @PrimaryMid;
    padding: 4px 1px 4px 6px;

    color: @PrimaryMid;
    > .Text {
        display: inline-block;
        overflow: hidden;
    }
    > .Icon {
        float: right;
        overflow: hidden;
        margin-right: 10px;
    }
}

.TextActionButton:hover {
    background: @PrimaryMid;
    color: white;
    cursor: pointer;
}

.TextActionButton:disabled,
.TextActionButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none
}